/*
* @Author: Matthias Wetzka
*/

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #888;

    width: 100%;
	margin: 0%;    
}

#chart {
	hheight:90vh;
}

